// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2024 Refeyn
 */

#include <dt-bindings/leds/common.h>
#include "imx8-apalis-generic-aux.dtsi"

/ {
	aux-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_aux_led>;

		led-0 {
			color = <LED_COLOR_ID_RED>;
			default-state = "on";
			function = LED_FUNCTION_INDICATOR;
            gpios = <&lsio_gpio2 26 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "timer";
		};
	};

    reg_5v_aux: regulator-5v-aux {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_5v_aux_regulator>;
        regulator-name = "reg_5v_aux";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        gpio = <&lsio_gpio3 26 GPIO_ACTIVE_HIGH>;
        enable-active-high;
        regulator-always-on;

        regulator-state-mem {
            regulator-off-in-suspend;
        };
    };
};

/* Apalis SPI1 */
&lpspi0 {
	#address-cells = <1>;
	#size-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_lpspi0cs>;
    cs-gpios = <&lsio_gpio4 2 GPIO_ACTIVE_LOW>;
    assigned-clock-rates = <60000000>;
    status = "okay";

    laser-driver-control-spi@0 { // Laser Driver Control
        /* Use compatible "rohm,dh2228fv" to bind spidev driver */
        reg = <0>;
        compatible = "rohm,dh2228fv";
        spi-max-frequency = <30000000>;
    };
};

/* Apalis USBH4 SuperSpeed */
&usbotg3_cdns3 {
    status = "okay";
};

&i2c4 {
    aux-laser-mon-ads1015@48 {
        compatible = "ti,ads1015";
        reg = <0x48>;
        #address-cells = <1>;
        #size-cells = <0>;

        channel@4 {
            reg = <4>;
            ti,gain = <0>;
            ti,datarate = <0>;
        };

        channel@5 {
            reg = <5>;
            ti,gain = <0>;
            ti,datarate = <0>;
        };

        channel@6 {
            reg = <6>;
            ti,gain = <0>;
            ti,datarate = <0>;
        };

        channel@7 {
            reg = <7>;
            ti,gain = <0>;
            ti,datarate = <0>;
        };
    };
};

&iomuxc {
    pinctrl-0 = <&pinctrl_hog>, <&pinctrl_hog_extra>;

    pinctrl_hog_extra: hogextragrp {
        fsl,pins = <IMX8QM_M41_GPIO0_00_LSIO_GPIO0_IO12		0x06000061>, /* AUX 3 Shutter enable */
                <IMX8QM_ESAI0_TX4_RX1_LSIO_GPIO2_IO30		0x06000061>, /* Interlock 1 */
                <IMX8QM_ESAI0_TX5_RX0_LSIO_GPIO2_IO31		0x06000061>; /* Interlock 2 */
    };

    pinctrl_aux_led: auxledgrp {
        fsl,pins = <IMX8QM_ESAI0_TX0_LSIO_GPIO2_IO26		0x06000061>;
    };

    pinctrl_5v_aux_regulator: aux5vreggrp {
        fsl,pins = <IMX8QM_MLB_SIG_LSIO_GPIO3_IO26			0x06000061>;
    };

    /* Apalis SPI1 */
    pinctrl_lpspi0cs: lpspi0grp {
        fsl,pins = <IMX8QM_SPI0_SCK_DMA_SPI0_SCK			0x0600004c>,
                <IMX8QM_SPI0_SDO_DMA_SPI0_SDO				0x0600004c>,
                <IMX8QM_SPI0_SDI_DMA_SPI0_SDI				0x0600004c>,
                <IMX8QM_FLEXCAN2_TX_LSIO_GPIO4_IO02			0x0600004c>; // Not using CS0
    };
};
