// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2024 Refeyn
 */

// Common carrier functions

/ {
    reg_usb_host_vbus: regulator-usb-host-vbus {
        regulator-name = "VCC_USBH(2|4)";
    };

    // RPmsg bus
    reserved-memory {
        #address-cells = <2>;
        #size-cells = <2>;
        ranges;

        vdev0vring0: vdev0vring0@90000000 {
            reg = <0 0x90000000 0 0x8000>;
            no-map;
        };

        vdev0vring1: vdev0vring1@90008000 {
            reg = <0 0x90008000 0 0x8000>;
            no-map;
        };

        vdev1vring0: vdev1vring0@90010000 {
            reg = <0 0x90010000 0 0x8000>;
            no-map;
        };

        vdev1vring1: vdev1vring1@90018000 {
            reg = <0 0x90018000 0 0x8000>;
            no-map;
        };

        rsc_table0: rsc-table@900ff000 {
            reg = <0 0x900ff000 0 0x1000>;
            no-map;
        };

        vdev2vring0: vdev0vring0@90100000 {
            reg = <0 0x90100000 0 0x8000>;
            no-map;
        };

        vdev2vring1: vdev0vring1@90108000 {
            reg = <0 0x90108000 0 0x8000>;
            no-map;
        };

        vdev3vring0: vdev1vring0@90110000 {
            reg = <0 0x90110000 0 0x8000>;
            no-map;
        };

        vdev3vring1: vdev1vring1@90118000 {
            reg = <0 0x90118000 0 0x8000>;
            no-map;
        };

        rsc_table1: rsc-table@901ff000 {
            reg = <0 0x901ff000 0 0x1000>;
            no-map;
        };
    };

    // M4 core communication
    rpmsg0: rpmsg@0 {
        compatible = "fsl,imx8qm-rpmsg";
        mbox-names = "tx", "rx", "rxdb";
        mboxes = <&lsio_mu5 0 1
                &lsio_mu5 1 1
                &lsio_mu5 3 1>;
        mub-partition = <3>;
        vdev-nums = <2>;
        reg = <0 0x90000000 0 0x20000>;
        memory-region = <&vdevbuffer>, <&vdev0vring0>, <&vdev0vring1>,
                    <&vdev1vring0>, <&vdev1vring1>;
        status = "okay";
    };

    rpmsg1: rpmsg@1 {
        compatible = "fsl,imx8qm-rpmsg";
        mbox-names = "tx", "rx", "rxdb";
        mboxes = <&lsio_mu6 0 1
                &lsio_mu6 1 1
                &lsio_mu6 3 1>;
        mub-partition = <4>;
        vdev-nums = <2>;
        reg = <0 0x90100000 0 0x20000>;
        memory-region = <&vdevbuffer>, <&vdev2vring0>, <&vdev2vring1>,
                    <&vdev3vring0>, <&vdev3vring1>;
        status = "okay";
    };
};

/* Apalis UART1 */
&lpuart1 {
    status = "okay";
};

/* Apalis USBH2, Apalis USBH3 and on-module Wi-Fi via on-module HSIC Hub */
&usbh1 {
    vbus-supply = <&reg_usb_host_vbus>;
    status = "okay";
};

/* Apalis USBO1 */
&usbotg1 {
    status = "okay";
};

/* Apalis I2C1 */
&i2c2 {
	status = "okay";

	carrier_eeprom: carrier-eeprom@50 {
        compatible = "atmel,24c256";
        reg = <0x50>;
	};
};

&gpio_fan {
    status = "disabled";
};

&reg_pcie_switch {
    /delete-property/ pinctrl-0;
};

// Random image and audio processing

&asrc0 {
	status = "okay";
};

&dc0_dpr1_channel1 {
	status = "okay";
};

&dc0_dpr1_channel2 {
	status = "okay";
};

&dc0_dpr1_channel3 {
	status = "okay";
};

&dc0_dpr2_channel1 {
	status = "okay";
};

&dc0_dpr2_channel2 {
	status = "okay";
};

&dc0_dpr2_channel3 {
	status = "okay";
};

&dc0_pc {
	status = "okay";
};

&dc0_prg1 {
	status = "okay";
};

&dc0_prg2 {
	status = "okay";
};

&dc0_prg3 {
	status = "okay";
};

&dc0_prg4 {
	status = "okay";
};

&dc0_prg5 {
	status = "okay";
};

&dc0_prg6 {
	status = "okay";
};

&dc0_prg7 {
	status = "okay";
};

&dc0_prg8 {
	status = "okay";
};

&dc0_prg9 {
	status = "okay";
};

&dc1_dpr1_channel1 {
	status = "okay";
};

&dc1_dpr1_channel2 {
	status = "okay";
};

&dc1_dpr1_channel3 {
	status = "okay";
};

&dc1_dpr2_channel1 {
	status = "okay";
};

&dc1_dpr2_channel2 {
	status = "okay";
};

&dc1_dpr2_channel3 {
	status = "okay";
};

&dc1_pc {
	status = "okay";
};

&dc1_prg1 {
	status = "okay";
};

&dc1_prg2 {
	status = "okay";
};

&dc1_prg3 {
	status = "okay";
};

&dc1_prg4 {
	status = "okay";
};

&dc1_prg5 {
	status = "okay";
};

&dc1_prg6 {
	status = "okay";
};

&dc1_prg7 {
	status = "okay";
};

&dc1_prg8 {
	status = "okay";
};

&dc1_prg9 {
	status = "okay";
};

&dpu1 {
	status = "okay";
};

&dpu2 {
	status = "okay";
};

// M4 stuff

&lsio_mu5 {
    status = "okay";
};

&lsio_mu6 {
    status = "okay";
};

// Need to enable PCIEa to keep PCIEb happy

/* Apalis PCIE1 */
&pciea {
    status = "okay";
};
