// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2024 Toradex
 * Copyright 2025 Refeyn
 *
 * Device tree for EC-ASM-00044-03 CheckMate Main Board
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/leds/common.h>

#include "k3-am69-aquila-generic-carrier.dtsi"

&main_pmx0 {
	/* Aquila I2S_1 (LEDs) */
	pinctrl_main_mcasp4_gpio: main-mcasp4-gpio-pins {
		pinctrl-single,pins = <
			J784S4_IOPAD(0x0c8, PIN_OUTPUT, 7)  /* (AJ32) EXT_REFCLK1.MCASP4_ACLKX      */ /* AQUILA B20 */
			J784S4_IOPAD(0x06c, PIN_OUTPUT, 7)  /* (AJ37) MCAN1_TX.MCASP4_AFSX          */ /* AQUILA B21 */
			J784S4_IOPAD(0x068, PIN_OUTPUT, 7)  /* (AE38) MCAN0_RX.MCASP4_AXR1          */ /* AQUILA B22 */
			J784S4_IOPAD(0x0c4, PIN_OUTPUT, 7)  /* (AD36) ECAP0_IN_APWM_OUT.MCASP4_AXR2 */ /* AQUILA B23 */
		>;
	};

	/* Aquila CAN_1 (Debug switches) */
	pinctrl_main_mcan10_gpio: main-mcan10-gpio-pins {
		pinctrl-single,pins = <
			J784S4_IOPAD(0x0b8, PIN_INPUT, 7)  /* (AC34) MCASP1_ACLKX.MCAN10_RX */ /* AQUILA B49 */
			J784S4_IOPAD(0x0b4, PIN_INPUT, 7)  /* (AL34) MCASP1_AXR4.MCAN10_TX  */ /* AQUILA B48 */
		>;
	};

	/* Aquila SPI_1 CS */
	/* Aquila PCIE_2_RESET# */
	pinctrl_main_spi2_cs: main-spi2-cs1-default-pins {
		pinctrl-single,pins = <
			J784S4_IOPAD(0x09c, PIN_OUTPUT, 10) /* (AF35) MCASP0_AXR11.SPI2_CS1 */ /* AQUILA D9 */
			J784S4_IOPAD(0x0a4, PIN_OUTPUT, 10) /* (AJ36) MCASP0_AXR13.SPI2_CS0 */ /* AQUILA C35 */
		>;
	};

	/* Aquila ETH_2_XGMII_MDIO */
	pinctrl_pwr_control: pwr-control-default-pins {
		pinctrl-single,pins = <
			J784S4_IOPAD(0x058, PIN_OUTPUT, 7) /* (AE37) MCASP2_AFSX.GPIO0_22  */ /* AQUILA B90 */
		>;
	};
};

&wkup_pmx2 {
	/* Aquila CAN_2 (Debug switches) */
	pinctrl_mcu_mcan0_gpio: mcu-mcan0-gpio-pins {
		pinctrl-single,pins = <
			J784S4_WKUP_IOPAD(0x054, PIN_INPUT, 7)  /* (F38) MCU_MCAN0_RX  */ /* AQUILA B51 */
			J784S4_WKUP_IOPAD(0x050, PIN_INPUT, 7)  /* (K33) MCU_MCAN0_TX  */ /* AQUILA B50 */
		>;
	};

	/* Aquila CAN_4 (FAN_ALERT) */
	pinctrl_mcu_mcan1_gpio: mcu-mcan1-gpio-pins {
		pinctrl-single,pins = <
			J784S4_WKUP_IOPAD(0x068, PIN_INPUT, 7) /* (H35) WKUP_GPIO0_4.MCU_MCAN1_TX */ /* AQUILA B55 */
		>;
	};

	/* Aquila MSP_3_RX_N (SHUTTER_ACTIVE) */
	pinctrl_mcu_wkup_gpio0_3: mcu-wkup-gpio0-3-default-pins {
		pinctrl-single,pins = <
			J784S4_WKUP_IOPAD(0x064, PIN_INPUT, 7) /* (J36) WKUP_GPIO0_3 */ /* AQUILA C53 */
		>;
	};
};

// BEGIN POWER CONTROL AND DIAGNOSTICS

/ {
	reg_pwr_control: regulator-pwr-control {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		enable-active-high;
		pinctrl-0 = <&pinctrl_pwr_control>;
		/* Aquila ETH_2_XGMII_MDIO_MDC (AQUILA B90) */
		gpio = <&main_gpio0 22 GPIO_ACTIVE_HIGH>;
		regulator-max-microvolt = <24000000>;
		regulator-min-microvolt = <24000000>;
		regulator-name = "POWER_CONTROL";
		regulator-always-on;
	};
};

/* Aquila CTRL_PWR_BTN_MICO# */
&aquila_key_power {
	status = "okay";
};

/* Aquila CTRL_WAKE1_MICO# */
&aquila_key_wake {
	status = "okay";
};

/* Aquila I2C_1 */
&mcu_i2c0 {
	status = "okay";

	som-5v-hwmon@40 { // U5
		compatible = "ti,ina226";
		reg = <0x40>;
		shunt-resistor = <5000>;
	};

	shutter-hwmon@42 { // U57
		compatible = "ti,ina226";
		reg = <0x42>;
		shunt-resistor = <100000>;
	};

	24v-hwmon@44 { // U4
		compatible = "ti,ina226";
		reg = <0x44>;
		shunt-resistor = <5000>;
	};

	12v-hwmon@45 { // U2
		compatible = "ti,ina226";
		reg = <0x45>;
		shunt-resistor = <10000>;
	};

	peripheral-5v-hwmon@4b { // U6
		compatible = "ti,ina226";
		reg = <0x4B>;
		shunt-resistor = <5000>;
	};

	3v3-hwmon@4a { // U10
		compatible = "ti,ina226";
		reg = <0x4A>;
		shunt-resistor = <10000>;
	};

	laser-hwmon@4f { // U44
		compatible = "ti,ina226";
		reg = <0x4F>;
		shunt-resistor = <30000>;
	};
};

/* Aquila I2C_6 */
&main_i2c5 {
	status = "okay";

	fan_controller: fan-controller@4d {
		pinctrl-names = "default";
		pinctrl-0 =
			<&pinctrl_mcu_mcan1_gpio>, // FAN_ALERT
			<&pinctrl_gpio_01>, // READ_BATT
			<&pinctrl_gpio_02>; // BATT_OK
		compatible = "microchip,emc2305";
		reg = <0x4D>;
		#address-cells = <1>;
		#size-cells = <0>;
		#pwm-cells = <3>;

		case_fan0: case-fan-0@0 {
			reg = <0x0>;
			pwms = <&fan_controller 26000 0 1>;
			#cooling-cells = <2>;
		};

		case_fan1: case-fan-1@1 {
			reg = <0x1>;
			pwms = <&fan_controller 26000 0 1>;
			#cooling-cells = <2>;
		};

		cpu_fan: cpu-fan@2 {
			reg = <0x2>;
			pwms = <&fan_controller 26000 0 1>;
			#cooling-cells = <2>;
		};
	};

	// External temperature sensor boards
	external_tc74_1: external-tc74-1@4a {
		compatible = "tc74";
		reg = <0x4a>;
	};

	external_tc74_2: external-tc74-2@4c {
		compatible = "tc74";
		reg = <0x4c>;
	};

	power-button-leds@6c {
		compatible = "ti,lp5811";
		reg = <0x6c>;
		led-microvolts = <3300000>;
		led-max-microamp = <20000>;

		multi-led {
			color = <LED_COLOR_ID_RGB>;
			function = LED_FUNCTION_INDICATOR;
			#address-cells = <1>;
			#size-cells = <0>;
			default-state = "keep";

			led-red {
				reg = <0>;
				color = <LED_COLOR_ID_RED>;
			};

			led-green {
				reg = <1>;
				color = <LED_COLOR_ID_GREEN>;
			};

			led-blue {
				reg = <2>;
				color = <LED_COLOR_ID_BLUE>;
			};
		};
	};
};

// END

// BEGIN LASER AND SHUTTER CONTROL

/* Aquila SPI_1 */
&main_spi2 {
	status = "okay";
	pinctrl-0 =
		// SPI and CS pins
		<&pinctrl_main_spi2>,
		<&pinctrl_main_spi2_cs>, // CS1 (HW 1) and CS2 (HW 0)
		// Shutter pins
		<&pinctrl_gpio_08>, // SHUTTER_EN
		<&pinctrl_mcu_wkup_gpio0_3>, // SHUTTER_ACTIVE
		// Interlock pins
		<&pinctrl_gpio_10_csi_1>, // INTERLOCK_STATUS_0
		<&pinctrl_gpio_12_csi_1>; // INTERLOCK_STATUS_1
	cs-gpios = <0>, <0>;

	laser-digipot-spi@0 {
		reg = <0>;
		compatible = "microchip,mcp4161-103";
		spi-max-frequency = <500000>;
	};

	laser-modulator-spi@1 {
		/* Use compatible "rohm,dh2228fv" to bind spidev driver */
		reg = <1>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <30000000>;
	};
};

// END

// BEGIN DEBUG

/* Aquila UART_3, used as the Linux console */
&main_uart8 {
	status = "okay";
};

&reg_sdhc1_vmmc {
	status = "disabled";
};

&{/} {
	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 =
			// LEDs
			<&pinctrl_main_mcasp4_gpio>,
			// Debug
			<&pinctrl_main_mcan10_gpio>, // DEBUG_SW_0/1
			<&pinctrl_mcu_mcan0_gpio>, // DEBUG_SW_2/3
			// Diag
			<&pinctrl_gpio_13_csi_2>, // DIAG0
			<&pinctrl_gpio_14_csi_2>, // DIAG1
			<&pinctrl_gpio_15_csi_2>, // DIAG2
			<&pinctrl_gpio_16_csi_2>; // DIAG3

		/* LED0 Red */
		led-0 {
			color = <LED_COLOR_ID_RED>;
			default-state = "off";
			function = LED_FUNCTION_STATUS;
			gpios = <&main_gpio0 50 GPIO_ACTIVE_HIGH>;
			panic-indicator;
		};

		/* LED1 Green */
		led-1 {
			color = <LED_COLOR_ID_GREEN>;
			default-state = "off";
			function = LED_FUNCTION_STATUS;
			gpios = <&main_gpio0 27 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		/* LED2 Red */
		led-2 {
			color = <LED_COLOR_ID_RED>;
			default-state = "off";
			function = LED_FUNCTION_STATUS;
			gpios = <&main_gpio0 26 GPIO_ACTIVE_HIGH>;
		};

		/* LED3 Green */
		led-3 {
			color = <LED_COLOR_ID_GREEN>;
			default-state = "off";
			function = LED_FUNCTION_DISK_ACTIVITY;
			gpios = <&main_gpio0 49 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc0";
		};
	};
};

// END

// BEGIN RT CPU CONTROL

/* Aquila UART_1 */
&main_uart4 {
	status = "okay";
	pinctrl-0 =
		// UART
		<&pinctrl_main_uart4>,
		// GPIOs
		<&pinctrl_gpio_04>, // RTCPU_RESET
		<&pinctrl_gpio_05>, // RTCPU_MODE_0
		<&pinctrl_gpio_06>; // RTCPU_MODE_1
};

// END

// BEGIN USB
// Note: USB2 is a PCIe USB bridge

&usb0 {
	status = "okay";
};

// END

// BEGIN ETHERNET

/* On-module ETH_1 MDIO */
&davinci_mdio {
	status = "okay";
};

&mcu_cpsw {
	status = "okay";
};

/* On-module ETH_1 RGMII */
&mcu_cpsw_port1 {
	status = "okay";
};

// END

// BEGIN THERMAL

&main0_alert0 {
	temperature = <40000>;
};

&main1_alert0 {
	temperature = <40000>;
};

&main2_alert0 {
	temperature = <40000>;
};

&main3_alert0 {
	temperature = <40000>;
};

&main4_alert0 {
	temperature = <40000>;
};

&wkup0_alert0 {
	temperature = <40000>;
};

&wkup1_alert0 {
	temperature = <40000>;
};

&main0_alert1 {
	type = "hot";
};

&main1_alert1 {
	type = "hot";
};

&main2_alert1 {
	type = "hot";
};

&main3_alert1 {
	type = "hot";
};

&main4_alert1 {
	type = "hot";
};

&wkup0_alert1 {
	type = "hot";
};

&wkup1_alert1 {
	type = "hot";
};

&main0_thermal {
	cooling-maps {
		map0 {
			cooling-device = <&cpu_fan 1 5>;
			trip = <&main0_alert0>;
		};

		map1 {
			cooling-device = <&cpu_fan 6 THERMAL_NO_LIMIT>;
			trip = <&main0_alert1>;
		};
	};
};

&main1_thermal {
	cooling-maps {
		map0 {
			cooling-device = <&cpu_fan 1 5>;
			trip = <&main1_alert0>;
		};

		map1 {
			cooling-device = <&cpu_fan 6 THERMAL_NO_LIMIT>;
			trip = <&main1_alert1>;
		};
	};
};

&main2_thermal {
	cooling-maps {
		map0 {
			cooling-device = <&cpu_fan 1 5>;
			trip = <&main2_alert0>;
		};

		map1 {
			cooling-device = <&cpu_fan 6 THERMAL_NO_LIMIT>;
			trip = <&main2_alert1>;
		};
	};
};

&main3_thermal {
	cooling-maps {
		map0 {
			cooling-device = <&cpu_fan 1 5>;
			trip = <&main3_alert0>;
		};

		map1 {
			cooling-device = <&cpu_fan 6 THERMAL_NO_LIMIT>;
			trip = <&main3_alert1>;
		};
	};
};

&main4_thermal {
	cooling-maps {
		map0 {
			cooling-device = <&cpu_fan 1 5>;
			trip = <&main4_alert0>;
		};

		map1 {
			cooling-device = <&cpu_fan 6 THERMAL_NO_LIMIT>;
			trip = <&main4_alert1>;
		};
	};
};

&wkup0_thermal {
	cooling-maps {
		map0 {
			cooling-device = <&cpu_fan 1 5>;
			trip = <&wkup0_alert0>;
		};

		map1 {
			cooling-device = <&cpu_fan 6 THERMAL_NO_LIMIT>;
			trip = <&wkup0_alert1>;
		};
	};
};

&wkup1_thermal {
	trips {
		wkup1_alert2: trip-point0 {
			temperature = <15000>;
			hysteresis = <2000>;
			type = "active";
		};
	};

	cooling-maps {
		map0 {
			cooling-device = <&cpu_fan 1 5>, <&case_fan0 6 THERMAL_NO_LIMIT>, <&case_fan1 6 THERMAL_NO_LIMIT>;
			trip = <&wkup1_alert0>;
		};

		map1 {
			cooling-device = <&cpu_fan 6 THERMAL_NO_LIMIT>, <&case_fan0 6 THERMAL_NO_LIMIT>, <&case_fan1 6 THERMAL_NO_LIMIT>;
			trip = <&wkup1_alert1>;
		};

		map2 {
			cooling-device = <&case_fan0 6 THERMAL_NO_LIMIT>, <&case_fan1 6 THERMAL_NO_LIMIT>;
			trip = <&wkup1_alert2>;
		};
	};
};

// END

&main_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb1_en_gpio>;

	/* USB_1_EN Driven by Power Delivery IC - must be driven high */
	usb1en-hog {
		gpio-hog;
		gpios = <11 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "USB_1_EN";
	};
};
